* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container3{
    background: #23424A;
    padding: 70px 0;
}

.container2 {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
}

.container {
    color: white;
    width: 60%;
    font-family: "Roboto", sans-serif;
}

h1 {
    font-size: 48px;
}

p {
    margin-bottom: 15%;
    font-size: 21px;
    font-weight: 300;
}

a {
    color: #23424A;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1em 2.5em;
    background: #38CFD9;
    border-radius: 2rem;
    font-size: 21px;
    font-weight: bold;
}